---
import type { GetStaticPathsOptions, Page } from "astro";
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import { getCollection } from "astro:content";
import Layout from "@/layouts/SpecialsLayout.astro";
import Heading from "@/components/Heading.astro";

type SpecialsEntry = CollectionEntry<"specials">;
type Props = { page: Page<SpecialsEntry> };

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const posts = (await getCollection("specials")).sort(
    (a: SpecialsEntry, b: SpecialsEntry) =>
      b.data.date.valueOf() - a.data.date.valueOf(),
  );

  return paginate(posts, { pageSize: 3 });
}

const { page } = Astro.props;
const prevUrl = page.url.prev;
const nextUrl = page.url.next;

const meta = {
  title: "イベントのご案内",
  description:
    "仁戸名聖書バプテスト教会が主催するイベント情報をご案内します。初めての方やお子様連れの方にも安心してご参加いただける特別礼拝やイベントを開催していますので、ぜひお気軽にお越しください。",
};
---

<Layout {...meta}>
  <section class="message">
    <Heading en="Event Information" ja="イベントのご案内" />

    <p>
      初めて教会を訪れる方や、まだ教会に慣れていない方にも安心してご参加いただけるよう、わかりやすい内容の特別礼拝を定期的に開催しています
    </p>
    <p>
      また、賛美コンサートや食事会、子ども向けの遠足など、どなたでも楽しめるイベントも行っています。ぜひお気軽にお越しください！
    </p>
  </section>

  <section class="articles">
    <ul>
      {
        page.data.map((post) => (
          <li class="li">
            <h3 class="h3">{post.data.title}</h3>

            <a class="a" href={`/specials/${post.slug}/`}>
              <figure>
                <Image
                  src={post.data.cover}
                  alt={post.data.title}
                  loading="lazy"
                />
              </figure>
            </a>
          </li>
        ))
      }
    </ul>

    <div class="pagination">
      <a href={prevUrl} class:list={["link", { hidden: !prevUrl }]} aria-label="前のページ" rel="prev"> ← </a>
      <a href={nextUrl} class:list={["link", { hidden: !nextUrl }]} aria-label="次のページ" rel="next"> → </a>
    </div>
  </section>
</Layout>

<style>
  .message {
    margin: 0 5%;
    text-align: justify;
  }

  .articles {
    padding: 15vh 0;
  }

  .li {
    border-top: var(--color-subtext) dotted 1px;
    padding: 3em 0;
  }

  .h3 {
    color: var(--color-accent);
    font-size: 125%;
    margin: 0;
    text-align: center;
  }

  .a {
    display: block;
  }

  .pagination {
    display: flex;
    gap: 40px;
    justify-content: center;
    margin: 10vh 0;
  }

  .link {
    background: var(--color-accent);
    color: var(--color-background);
    border-radius: 4px;
    font-weight: bolder;
    line-height: 40px;
    text-align: center;
    width: 40px;
  }

  .hidden {
    display: none;
  }
</style>
