---
type Props = {
  title: {
    en?: string;
    ja?: string;
  };
  name: {
    en?: string;
    ja?: string;
  };
  src: string;
};

const { title, name, src } = Astro.props;
---

<div class="img-card">
  <div class="text">
    {
      title.en && title.ja && (
        <h2 class="h2">
          <span class="en">{title.en}</span>
          <br />
          <span class="ja">{title.ja}</span>
        </h2>
      )
    }
    {
      name.en && name.ja && (
        <h3 class="h3">
          <span class="en">{name.en}</span>
          <br />
          <span class="ja">{name.ja}</span>
        </h3>
      )
    }
  </div>

  <div class="img-box">
    <img class="img" src={src} alt="" />
  </div>
</div>

<style>
  .img-card {
    position: relative;
  }

  .text {
    color: #ffffffcc;
    display: flex;
    flex-direction: column;
    font-family: Georgia, "Times New Roman", "Hiragino Mincho Pro", "Yu Mincho",
      serif;
    font-size: 1.5vw;
    inset: 0;
    justify-content: space-between;
    padding: 1em;
    position: absolute;
    z-index: 1;
  }

  .h2 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
  }

  .h3 {
    font-size: 100%;
    font-weight: normal;
    margin: 0;
    text-align: right;
  }

  .en {
    font-size: 200%;
  }

  .ja {
    font-size: 150%;
    letter-spacing: 0.1em;
  }

  .img-box {
    border-radius: 8px;
    overflow: hidden;
  }

  .img-box > .img {
    filter: brightness(0.75);
    height: 480px;
    object-fit: cover;
    width: 100%;
  }

  @media (max-width: 768px) {
    .text {
      font-size: 100%;
    }
  }
</style>
