---
import "@/styles/global.css";
import "@/styles/themes.css";
import { SITE_URL, SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Nav from "@/components/Nav.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://nitonabbc.org/img/building.jpg"
    />
    <meta property="og:url" content={SITE_URL} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={title} />
    <link rel="icon" href="/favicon.ico" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap&text=仁戸名聖書バプテスト教会"
    />
    <title>{title}</title>
  </head>

  <body>
    <Header />
    <Nav />

    <main class="main">
      <slot />
    </main>

    <Footer />
  </body>
</html>

<script src="@/scripts/scroll.ts"></script>

<style>
  .main {
    margin: auto;
    max-width: 800px;
    padding: 0 5vw;
  }
</style>
