---
import "@/styles/global.css";
import "@/styles/themes.css";
import { SITE_URL, SITE_TITLE, SITE_DESCRIPTION } from "@/consts";
import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import Nav from "@/components/Nav.astro";

type Props = {
  title?: string;
  description?: string;
};

const { title = SITE_TITLE, description = SITE_DESCRIPTION } = Astro.props;
---

<!doctype html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://nitonabbc.org/img/building.jpg"
    />
    <meta property="og:url" content={SITE_URL} />
    <meta property="og:description" content={description} />
    <meta property="og:site_name" content={title} />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>

  <body>
    <div class="viewport">
      <Header />
      <Nav />

      <main class="main">
        <slot />
      </main>

      <Footer />
    </div>
  </body>
</html>

<script src="@/scripts/scroll.ts"></script>

<style>
  .viewport {
    min-height: 100vh;
    min-width: 320px;
    position: relative;
  }

  .main {
    font-size: 2vw;
  }

  @media (max-width: 768px) {
    .main {
      font-size: 100%;
    }
  }
</style>

<style is:global>
  .grecaptcha-badge {
    visibility: hidden;
  }

  .block {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    overflow: hidden;
    padding: 10vh 5vw;
  }

  .block > .box {
    max-width: 100%;
    min-width: 60%;
    width: 800px;
  }

  .box {
    position: relative;
  }

  .box.fill,
  .box.fix {
    display: flex;
    gap: 40px;
  }

  .box.center {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .box.fill > .cell {
    flex: auto;
  }

  .box.fix > .cell {
    flex: 0 1 100%;
  }

  @media (max-width: 768px) {
    .box.fill,
    .box.fix {
      flex-direction: column;
      gap: 20px;
    }
  }
</style>
